.home-header{
    margin: 12px;
    display: block !important;
    text-align: center;
    color: purple;
}

.form-container{
    width: 500px;
    margin: auto;
}

.ui.purple.button:focus, .ui.purple.buttons .button:focus {
    background-color: #a333c8;
}